body {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.5em;
  position: relative;
}

.jumbotron {
  /*background-image:            url("http://i.imgur.com/Kn6bvd3.jpg");*/
  background-image: url("http://i67.tinypic.com/2vtp8jk.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

.jumbotron h2 {
  font-family: 'Amatic SC', cursive;
  color: #fff;
  font-size: 3em;
}

.jumbotron p {
  font-size: 1.5em;
  /*color: #fff;*/
}
.jumbotron .btn{
  font-size: .5em;
}
body h2,
h3 {
  font-family: 'Amatic SC', cursive; 
  padding-bottom: 20px;
  font-weight: bold;
}

.navbar {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: #fff;
}

.navbar .navbar-brand {
  font-size: 2.75rem;
  padding-top: 2rem;
}
.btn{
  font-size: .75em;
}
.footer{
  padding: 30px;
}
/*social icons */

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.form {
  width: 50%;
}
 #inputEmail, #inputMessage{
  padding: 35px 35px;
  font-size: 1.5em;  
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}

#social-tw:hover {
  color: #4099FF;
}

#social-gp:hover {
  color: #d34836;
}

#social-em:hover {
  color: #f39c12;  
}